<mat-toolbar color="primary">
  <span class="sideNavTitle">
      {{navItems.title}}
  </span>
</mat-toolbar>
<mat-nav-list role="list">
    <a  *ngFor="let item of navItems.children" role="listitem"
      mat-stroked-button
      (click)="goToUrl(item.route)">
      {{item.displayName}}
  </a>
</mat-nav-list>
