@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);

:host{
  display: block;
  width: 250px;
  text-align: center;
}

.sideNavTitle{
  flex: 1 1 auto;
  text-align: center;
}

a{
  display: flex;
  text-align: left;
  margin: 4px 5%;
  width: 90%;
  height: 50px;
  white-space: pre-wrap !important;
  line-height: 1.3em;
  align-items: center;
  vertical-align: -webkit-baseline-middle;
  color: $selectedColor !important;
}

a:first-child{
  margin-top: 8px;
}

a > .mat-button-wrapper{
  display:block;
  padding-left: 6px !important;
}

.mat-nav-list{
  padding: 0;
  margin: 0;
}
