<!-- <header>
  <h1>Ofertorio</h1>
</header>
<section class="contenido">
  <p>
    En sus diversas expresiones retóricas, el canto del Ofertorio debe identificarse con el ofrecimiento al
    Padre
    Celestial
    del Pan y del Vino, que como fruto del trabajo del hombre se convertirán durante la Consagración en el
    Cuerpo
    y
    en la
    Sangre de Cristo.
  </p>
</section> -->

<!-- <app-construccion></app-construccion> -->