<div class="musicNotesContainer">
  <h3>¿Más partituras?</h3>
  <p>En el siguiente enlace encontrarás partituras de todo tipo (no solo religiosas) y para diversos instrumentos
    (guitarra, piano,
    batería,
    etc), el sitio está en Inglés e incluso ofrece una aplicación que te da acceso a todas las partituras por una
    suscripción mensual. Los precios son bastante accesibles y esperamos que también te sea de ayuda.</p>
  <button class="textoAnuncio" mat-raised-button target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=395807.10000657&type=3&subid=0">Más
    Partituras</button>
  <a mat-raised-button class="imgAnuncio" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=395807.10000176&subid=0&type=4">
    Buscar más Partituras <br>
    <IMG border="0" alt="Choral Sheet Music at Musicnotes"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=395807.10000176&subid=0&type=4&gridnum=0">
  </a>
</div>