@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

p{
  line-height: 2em;
}

div.musicNotesContainer{
  margin-top: 40px;
  padding: 20px;
  border: solid $selectedColor 1px;
  border-radius: 10px;
  text-align: center;

  button.textoAnuncio{
    display: none;
  }
  a.imgAnuncio{
    display: block;
    img{
      margin-bottom: 10px;
    }
  }
  
  h3{
    color: $selectedColor;
    text-align: center;
  }
}
@media only screen and (max-width: 475px) {
  .musicNotesContainer{
    button.textoAnuncio{
      display: inline-block !important;
    }
    a.imgAnuncio{
      display: none !important;
      img{
        display: none !important;
      }
    }
  }
}