@import "~@angular/material/theming";
@import '../../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);

p{
  line-height: 2em;
}

h1,h2,h3,h4{
  padding:0;
  margin:0;
}
header{
  display:block;
  text-align: center;
  margin-bottom: 50px;
  background-color: $selectedColor;
  position: relative;
  color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.itunesContainer{
  p{
    color: black;
    font-size: 0.7em;
  }
  width: 100%;
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 15px;
  color: $selectedColor;
  border: solid 1px $selectedColor;
}

ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
li{
  padding: 10px;
  list-style: none;
  button{
    color: $selectedColor;
    display: block;
    width: 200px;
    height: 20vh;
    margin: auto;
  }
}

:host{
  display:block;
  width:100%;
  height:100%;
}

.contenido{
  width: 90%;
  margin: auto;
  padding: 3% 5%;
  margin-bottom: 10%;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  section.contenido{
    width: 25cm;
    margin: auto;
    
    padding: 2cm 2.5cm;
    margin-bottom: 3cm;
  }

  .itunesContainer{
    width: 50%;
  }
}
