<header>
  <h1>La Santa misa</h1>
</header>

<section class="contenido">
  <h3>
    El canto litúrgico
  </h3>
  <p>
    El Santo Sacrificio de la Misa – centro del culto de nuestra vida cristiana – ofrece expresiones de fe cantadas
    que
    aspiran llegar al Creador. Para lograrlo es preciso conocer y aplicar el sentido religioso que debe darse al
    canto,
    de acuerdo a los momentos establecidos en el rito, y que se describen a continuación:
  </p>
  <!-- <section> -->
    <div class="itunesContainer">
      <h3>Te recomendamos escuchar:</h3>
      <p>La interpretación del Padre nuestro, es realmente angelical (Pista número 4)</p>
      <div>
        <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450"
          style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
          src="https://embed.music.apple.com/mx/album/charlotte-church-voice-of-an-angel/193678970?app=music&at=1000l34fT">
        </iframe>
      </div>
    </div>
  <!-- </section> -->
  <article>
    <ul>
      <li>
        <h4>
          Señor, ten piedad
        </h4>
        <p>
          Es continuación de la oración “Yo confieso ante Dios”… Este canto debe tener un aire penitencial,
          suplicante.
          Al
          concluirlo reconocemos la magnificencia de Dios cantando con entusiasmo el
        </p>
      </li>
      <li>
        <h4>
          Gloria
        </h4>
        <p>
          Es un himno al Todopoderoso, si lo entonamos con piadosa exaltación, nos uniremos verdaderamente al coro
          celestial.
          Después expresaremos devotamente: Señor, te alabamos… Tú eres el cordero….
        </p>
      </li>
      <li>
        <h4>
          Santo
        </h4>
        <p>
          Las voces de los Cantores de Dios y de la feligresía se ensamblan a los Coros Celestiales, entonando
          exultantes:
          “Santo, Santo, Santo”, así se unen el Cielo con la Tierra en la magna celebración. En la 2ª. parte se canta
          con
          dulzura: “Bendito el que viene”… y nos preparamos a la llegada del Salvador durante la Consagración.
        </p>
      </li>
      <li>
        <h4>
          Cordero de Dios
        </h4>
        <p>
          Este canto tiene un carácter diferente a la oración – del principio de la Santa Misa – “Yo confieso ante
          Dios”…, y al
          canto ”Señor ten piedad de nosotros”. En el “Cordero de Dios” también invocamos perdón, y al final
          reconocemos
          el
          poder
          de Jesús de perdonarnos y de concedernos la paz.
          Es la penúltima oportunidad de limpiar nuestra alma antes de recibir el Cuerpo de Cristo en la Comunión; la
          última
          oportunidad será uniéndonos al celebrante en la oración “Señor, yo no soy digno”….
        </p>
      </li>
    </ul>
  </article>
  <ul>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/aleluya" matTooltip="Ir a Cantos de Misa"
        aria-label="Boton para navegar a Cantos Religiosos">
        Aleluya
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/comunion" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Cantos de Comunión
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/entrada" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Cantos de Entrada
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/ofertorio" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Cantos de Ofertorio
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/salida" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Cantos de Salida
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/cotidiana" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Misa Cotidiana
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/dominical" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Misa Dominical
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/misa/padre-nuestro" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Padre Nuestro
      </button>
    </li>
  </ul>
</section>