<h3 mat-dialog-title class="TituloDialogo">Gracias por usar Ars-Sacre...</h3>
<div mat-dialog-content class="dialogContent">
  <p>
    Te recordamos que mediante tus donaciones o probando los servicios que te recomendamos, nos ayudas a mejorar cada día ¡Gracias! y Diós te Bendiga.
  </p>
  <em>David D' León Gutiérrez y familia...</em>
</div>
<div mat-dialog-actions>
  <button [style.margin]="'10px'" mat-stroked-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-stroked-button color="primary" (click)="pedirDescarga()" cdkFocusInitial>Descargar</button>
</div>