@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

:host{
  border-radius: 30px !important;
}

h3.TituloDialogo{
  color: $selectedColor !important;
}

.dialogContent{
  text-align: justify;
}
