<mat-toolbar style="height:52px;">
  <button class="shortMenuButton" mat-icon-button [ngClass]="hideMenu" (click)="toggleSideNav()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <button class="HomeButton" mat-button (click)="goToUrl('home')">
    <mat-icon svgIcon="home"></mat-icon>
    <span> Ars-Sacre</span>
  </button>
  <button mat-button class="navItem" (click)="goToUrl('canto-liturgico-y-religioso')">
    <mat-icon svgIcon="orquesta"></mat-icon>
    <span class='largeMusicaButton'>El Canto Litúrgico y Religioso</span>
    <span class='shortMusicaButton'> Música</span>
  </button>
  <button mat-button class="navItem" (click)="goToUrl('teatro-religioso')" disabled>
    <!-- <mat-icon svgIcon="teatro"></mat-icon> -->
    <span class='largeTeatroButton'>Teatro Religioso</span>
    <span class='shortMusicaButton'> Teatro</span>
  </button>
  <span class="example-spacer"></span>
  <button class="largeMenuButton" mat-button [ngClass]="hideMenu" [matMenuTriggerFor]="mainMenu">
    <span>Menú</span>
  </button>



  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="cantoMenu">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>El Canto Litúrgico y Religioso</span>
    </button>
    <button mat-menu-item disabled [matMenuTriggerFor]="teatroMenu">
      <mat-icon svgIcon="teatro"></mat-icon>
      <span>Teatro Religioso</span>
    </button>
  </mat-menu>

  <mat-menu #cantoMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="misaMenu" (click)="goToUrl('canto-liturgico-y-religioso/misa')">
      <mat-icon svgIcon="misa"></mat-icon>
      <span>La Santa Misa</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="salmosMenu" (click)="goToUrl('canto-liturgico-y-religioso/salmos')">
      <mat-icon svgIcon="salmos"></mat-icon>
      <span>Salmos</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="rosarioMenu" (click)="goToUrl('canto-liturgico-y-religioso/rosario')">
      <mat-icon svgIcon="rosario"></mat-icon>
      <span>El Santo Rosario</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="navidadMenu" (click)="goToUrl('canto-liturgico-y-religioso/navidad')">
      <mat-icon svgIcon="navidad"></mat-icon>
      <span>Villancicos y canciones Navideñas</span>
    </button>
  </mat-menu>

  <mat-menu #misaMenu="matMenu">
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/cotidiana')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Misa Cotidiana</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/dominical')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Misa Dominical</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/entrada')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Entrada</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/aleluya')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Aleluya</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/ofertorio')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Ofertorio</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/padre-nuestro')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Padre Nuestro</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/comunion')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Comunión</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/misa/salida')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Salida</span>
    </button>
  </mat-menu>

  <mat-menu #salmosMenu="matMenu">
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/salmos/ciclo-a')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Ciclo A</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/salmos/ciclo-b')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Ciclo B</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/salmos/ciclo-c')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Ciclo C</span>
    </button>
  </mat-menu>

  <mat-menu #rosarioMenu="matMenu">
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/rosario/gloria')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Cantos y motetes de Gloria</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/rosario/pesame')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Cantos y motetes de Pésame</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/rosario/jesucristo')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Cantos y Motetes a N. S. Jesucristo</span>
    </button>
  </mat-menu>

  <mat-menu #navidadMenu="matMenu">
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/navidad/villancicos')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Villancicos</span>
    </button>
    <button mat-menu-item (click)="goToUrl('canto-liturgico-y-religioso/navidad/canciones')">
      <mat-icon svgIcon="audiotrack"></mat-icon>
      <span>Canciones</span>
    </button>
  </mat-menu>

  <mat-menu #teatroMenu="matMenu">
  </mat-menu>

</mat-toolbar>