@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';

$selectedColor: mat-color($primary2Palette);

mat-toolbar{
  background-color: $selectedColor !important;
  color: white !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mainTitle, .largeMusicaButton, .largeTeatroButton{
  display: none;
}

.largeMenuButton{
  display: none !important;
}

.HomeButton, .shortMusicaButton, .shortTeatroButton{
  font-size: 0.7em;
  font-weight: bolder;
}

.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {
  /* Styles */
  .HomeButton, .shortMusicaButton, .shortTeatroButton{
    font-size: .8em;
    font-weight: bolder;
  }
}

@media only screen and (min-width : 1024px) {
  /* Styles */
  .HomeButton, .shortMusicaButton, .shortTeatroButton{
    font-size: 1em;
    font-weight: bolder;
  }

  .largeMenuButton{
    display: block !important;
    
  }

  .shortMenuButton{
    display: none !important;
  }
}