<header *ngIf="!error" #headerContainer>
  <h1>{{headerTitulo}}</h1>
</header>
<div class="publicidad" *ngIf="!error" #publicidad>
  <a *ngIf="divWidth <= 468" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1631&subid=0&type=4"><IMG border="0"
      alt="Generic Category (Spanish)234x60"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1631&subid=0&type=4&gridnum=3"></a>
  <a *ngIf="divWidth <= 720 && divWidth > 468" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1633&subid=0&type=4"><IMG border="0"
      alt="Generic Category (Spanish)468x60"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1633&subid=0&type=4&gridnum=1"></a>
  <a *ngIf="divWidth > 720" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1635&subid=0&type=4"><IMG border="0"
      alt="Generic Category (Spanish)728x90"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1635&subid=0&type=4&gridnum=16"></a>
</div>
<section class="contenido" *ngIf="!error">
  <div class="spinnerContainer" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="partituras$ | async as partituras">
    <div class="numeroPartituras">
      <h3>#{{partituras.length}} {{tipoPartitura.toLowerCase()}}s disponibles...</h3>
    </div>

    <div class="textoAnuncio">
      <h3>¿Buscas partituras de música no religiosa?</h3>
      <p>En el siguiente enlace puedes encontrar cerca de 15 000 partituras de diversos temas músicales, no solo religiosos. Seguro encuentras lo que necesitas. ¡Esperamos que el enlace te sea de ayuda!</p>
      <a mat-raised-button color="accent" target='new'
        href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=395807.10000657&type=3&subid=0">Encuentra partituras</a>
    </div>
    
    <div  class="tableContainer" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="BUSCAR {{tipoPartitura}}">
      </mat-form-field>

      <table @parituraContainer mat-table [dataSource]="partituras" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="numeroLista">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon class="iconoMusica" svgIcon="audiotrack"></mat-icon>#{{i + 1}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tituloSalmo">
          <th mat-header-cell *matHeaderCellDef> TÍTULO </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="numeroSalmo">
          <th mat-header-cell *matHeaderCellDef> NÚMERO DE {{this.tipoPartitura}} </th>
          <td mat-cell *matCellDef="let element"> {{element.partituraNumero}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="descargar">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button color="primary"
              (click)="getPartitura(element.path, element.titulo)">Ver <br> partitura</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</section>
<div class="publicidad" *ngIf="!error" #publicidad2>
  <a *ngIf="divWidth <= 468" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1631&subid=0&type=4"><IMG border="0"
      alt="Generic Category (Spanish)234x60"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1631&subid=0&type=4&gridnum=3"></a>
  <a *ngIf="divWidth <= 720 && divWidth > 468" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1633&subid=0&type=4"><IMG border="0"
      alt="Generic Category (Spanish)468x60"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1633&subid=0&type=4&gridnum=1"></a>
  <a *ngIf="divWidth > 720" target='new'
    href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1635&subid=0&type=4"><IMG border="0"
      alt="Generic Category (Spanish)728x90"
      src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1635&subid=0&type=4&gridnum=16"></a>
</div>
<app-error *ngIf="error"></app-error>