@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

h1,h2,h3,h4{
  padding:0;
  margin:0;
}

p{
  line-height: 2em;
}

.numeroPartituras{
  text-align: center;
}

.publicidad{
  text-align: center;
}

.spinnerContainer{
  text-align: center;
  margin-top: 25%;
  mat-spinner{
    margin: auto;
  }
}

header{
  display:block;
  text-align: center;
  // margin-bottom: 50px;
  background-color: $selectedColor;
  position: relative;
  color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

section.contenido{
  width: 100%;
  margin: auto;
  
  padding: 5px;
  margin-bottom: 10%;
  position: relative;
  text-align: justify;
  h3, h4{
    color: $selectedColor;
  }
}

.header-image{
  color: $selectedColor;
}

.footer{
  color: $selectedColor;
  font-size: 1.2em;
  text-align: center;
} 

.textoAnuncio{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: rgba($accent, 0.4);
}

.tableContainer{
  mat-form-field{
    width: 100%;
  }
  .mat-table{
    width: 100%;
    th{
      color: $accent;
      background-color: $selectedColor;
      text-align: center;
    }
    td{
      color: $selectedColor;
      text-align: center;
      button{
        line-height: 1.2em;
      }
    }
  }
}

.iconoMusica {
  display: none;
}

@media only screen  and (min-width : 351px) {
  section.contenido{
    width: 95%;
    padding: 3% 5%;
  }

  .iconoMusica {
    display: inline-block;
  }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  section.contenido{
    width: 25cm;
    margin: auto;
    
    padding: 2cm 2.5cm;
    margin-bottom: 3cm;
  }
}
