@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

:host{
  display: block;
  width: 100%;
  position: relative;
}

p{
  line-height: 2em;
}

.botonYoutube{
  padding: 20px;
  text-align: center;
  a{
    line-height: 1em;
    padding: 10px;
  }
}

.zoomButtons{
  margin-top: 20px;
  margin-bottom: 20px;
}

button{
  border: solid 2px $selectedColor;
  margin: 0 20px 0 20px;
}

:export{
  selectedColor: $selectedColor;
}

.Container{
  position: absolute;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0;
  width: 100%;
  button.descarga{
    margin: 50px auto 100px;
  }
}

.publicidad{
  text-align: center;
}

.spinnerContainer{
  text-align: center;
  mat-spinner{
    margin: auto;
  }
}