<div #publicidad class="spinnerContainer" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div #publicidad *ngIf="!isLoading" class='Container'>
  <app-top-publicidad></app-top-publicidad>
  <div class="zoomButtons">
    <button mat-raised-button (click)="incZoom()">+</button>
    <span>Zoom</span>
    <button mat-raised-button (click)="decZoom()">-</button>
  </div>
  <pdf-viewer [src]="pdfPartitura" [zoom]="zoom"></pdf-viewer>
  <div class="botonYoutube">
    <a target="new" href="https://www.youtube.com/c/arssacre" mat-raised-button color="warn">Suscríbete a nuestro <br> canal en youtube</a>
  </div>
  <button class="descarga" mat-button color="primary" (click)="openDialog()">Descargar Partitura</button>
</div>