<div class="donativo mat-elevation-z2">
  <h3>¡Partitura Lista!</h3>
  <h5>Ayúdanos a mantener esta página</h5>

  <div class="btnDonar">
    <a target="new" href="https://paypal.me/arssacre?locale.x=es_XC" mat-raised-button color="primary">Hacer una Donación (PayPal)</a>
  </div>
  <div class="anuncios">
    <div class="mat-elevation-z1">
      <h5>Aprende Algo nuevo</h5>
      <div class="udemy">
        <a target='new'
          href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1637&subid=0&type=4"><IMG
            border="0" alt="Generic Category (Spanish)125x125"
            src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1637&subid=0&type=4&gridnum=4"></a>
      </div>
    </div>
    <div class="mat-elevation-z1">
      <h5>¡Prueba Audible!</h5>
      <p>Gratis por el primer mes, con dos audiolibros (puedes cancelar cuando quieras y los libros que descargues son
        tuyos para siempre).</p>
      <div class="audible">
        <a target="_blank"
          href="https://amzn.to/39Lv93f"><img
            border="0"
            src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00NB86OYE&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=arssacrejdleo-20"></a><img
          src="//ir-na.amazon-adsystem.com/e/ir?t=arssacrejdleo-20&l=am2&o=1&a=B00NB86OYE" width="1" height="1"
          border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
    </div>
  </div>
  <div>
    <h3>Muchas gracias!</h3>
  </div>
</div>