@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

.donativo{
  color: $selectedColor;
  border-radius: 15px;
  border: $accent solid 2px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
  width:80%;
  margin: 15px auto 15px auto;
  font-size: 1em;
  background: white;
  background: -moz-linear-gradient(135deg, rgba(white,1) 0%, rgba($accent, 0.08) 100%);
  background: -webkit-linear-gradient(135deg, rgba(white,1) 0%,rgba($accent, 0.08) 100%);
  background: linear-gradient(135deg, rgba(white,1) 0%,rgba($accent, 0.08) 100%);
}

.btnDonar{
  margin-top: 20px;
}

.anuncios{
  display: flex;
  flex-direction: column;
  div{
    background-color: white;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin: 20px;
    a{
      border: none;
    }
    div{
      border: none;
    }
  }
}
div.udemy{
  margin: 10px;
  display: block;
  width: 125px;
  height: 125px;
}
div.audible{
  margin: 10px;
  display: block;
  width: 110px;
  height: 110px;
}

// @media only screen and (max-width: 320px){
//   .anuncios{
//     flex-direction: column;
//     align-content: space-evenly;
//   }
// }

@media only screen and (min-width: 460px){
  .anuncios{
    flex-direction: row;
  }
}