<!-- <header #mainImageRef [ngStyle]="{'background-image': 'url('+mainImgSrc+')'}" [class.isTouch]="noFixedAttachement"> -->
<header #mainImageRef [class.isTouch]="noFixedAttachement">
  <div style="flex:1">
    <!-- <div class="mainImage" [ngStyle]="{'background-image': 'url('+mainImg2Src+')'}"> -->
    <div class="mainImage">
    </div>
  </div>
  <button class="mainActionButton" style="flex:1" mat-stroked-button color="accent" matTooltip="Ir a Cantos Religiosos"
    aria-label="Boton para navegar a Cantos Religiosos" (click)="goToUrl('canto-liturgico-y-religioso')">
    Buscar partituras
    <mat-icon svgIcon="orquesta"></mat-icon>
  </button>
  <div style="flex:1"></div>
  <div style="flex:2" class="mainTitle">
    <h1>
      Ars-Sacre
    </h1>
    <div class="mainAutor">
      <div>AMDG &nbsp;&nbsp;&nbsp; David D'León Gutiérrez / 2019</div>
    </div>
  </div>
  <div style="flex:1"></div>

</header>
<section class="texto">
  <div class="mainInfo">
    <p>
      <strong>Cantor de Dios</strong>, seas bienvenido a conocer 340 obras investigadas y seleccionadas del rico acervo
      musical de la Iglesia Católica, mismas que he transcrito, arreglado o creado, y que presento en texto castellano
      con <strong>melodía a una, a 2ª. ó 3ª voces.</strong>
    </p>
    <div class="totalPartituras ">Actualmente contamos con: <span
        *ngIf="totalParituras$ | async as total">{{total}}</span> partituras</div>
  </div>
</section>
<!-- <section class="mainQuote" [ngStyle]="{'background-image': 'url('+quoteImgSrc+')'}" [class.isTouch]="noFixedAttachement"> -->
<section class="mainQuote" [class.isTouch]="noFixedAttachement">
  <div>
    <p>
      Pio X publicó en el <em><strong>Motu proprio</strong></em>: </p>
    <blockquote>“La música en la Iglesia tiene como función la
      elevación del espíritu a Dios….
      los
      cantos inspirados por el Espíritu Santo, son un tesoro que debe difundirse como oración, y conservarse
      <strong>como
        testimonio etnológico de cultura religiosa</strong>” (sic).
    </blockquote>
  </div>
</section>
<section class="texto2">
  <div class="mainInfo">
    <p>
      Te invitamos a conocer estas obras, a interpretar las de tu agrado e integrarlas a tu carpeta, y si deseas
      asociarte
      a este proyecto, puedes enviarnos texto y música de alguna obra de tu preferencia.
    </p>
    <p>
      Ahora bien, el Ministerio de la Música nos convoca a <strong>orar cantando</strong> con el feligrés, teniendo
      siempre presentes dos
      principios: los <strong>Fundamentos</strong> de nuestra misión como Cantores de Dios dentro de su templo, y
      nuestra
      <strong>interpretación</strong> del
      Canto Litúrgico y Religioso en el ámbito espiritual de su texto y melodía.
    </p>
    <p>
      Descubrirás horizontes místicos al leer y meditar en coro sus contenidos.
    </p>
  </div>
</section>
<section>
  <p>
    Visita nuestras secciones principales: <b><em>Música</em></b> y Teatro.
  </p>
  <ul class="HomeButtons">
    <li>
      <p>Aquí podrás encontrar diversas partituras de música religiosa.</p>
      <button mat-raised-button color="accent" matTooltip="Ir a Cantos Religiosos"
        aria-label="Boton para navegar a Cantos Religiosos" (click)="goToUrl('canto-liturgico-y-religioso')">
        Ir a Música
        <mat-icon svgIcon="orquesta"></mat-icon>
      </button>
    </li>
    <li>
      <p>Aquí podrás encontrar libretos de drama religioso (aún en construcción)...</p>
      <button mat-raised-button color="accent" matTooltip="Ir a Teatro Religioso"
        aria-label="Boton para navegar a Teatro Religioso" disabled (click)="goToUrl('')">
        Ir a Teatro
        <mat-icon svgIcon="teatro"></mat-icon>
      </button>
    </li>
  </ul>
  <app-music-notes></app-music-notes>
  <app-bio></app-bio>
</section>