@import "~@angular/material/theming";
@import '../../../styleVariables.scss';
$selectedTheme: mat-color($primary2Palette);

:host{
  height:100%;
}
header{
  display:flex;
  padding-top: 1vh;
  flex-direction: column;
  height: 50%;
  text-align: center;
  background-color: $selectedTheme;
  background-image: url('../../../assets/images/imagenPrincipal-small.jpg');
  // background-size: auto 100%;
  background-repeat: no-repeat;
  // background-position: 50%;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;

  div{
    flex: 1;
    margin:auto;
    -ms-flex-align: start;
  }
}

p{
  line-height: 2em;
}

.mainActionButton{
  width: 80%;
  margin: 5px auto;
  font-size: 0.8em;
  border: solid #FFEB3B 2px;
  background-color: rgba(black,0.4);
  border-radius: 15px;
  mat-icon{
    display:none;
  }
}

.totalPartituras{
  color: $selectedTheme;
  font-weight: bolder;
  text-align: center;
  span{
    font-size: 1.6em;
  }
}

.mainImage{
  width: 33.33vw;
  height: 33.33vw;
  border: 1vh $selectedTheme solid;
  border-radius: 50%;
  background-image: url('../../../assets/images/imagenPrincipal2-small.jpg');
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
  margin: 2vh;
}

section{
  height: 50%;
  padding: 40px;
  overflow: visible;
  height: 100%;
  font-size: 2.2vh;
  box-sizing: border-box;
}

section:nth-child(2){
  height: 50% !important;
  padding: 40px 15px;
}

section.texto{
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  *{
    flex:1;
  }
}
section.texto2{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  *{
    flex:1;
  }
}

.mainQuote{
  padding: 0;
  background-image: url('../../../assets/images/miguel-angel-capilla-sixtina-small.jpg');
  background-size: auto 115%;
  background-repeat: no-repeat;
  background-position: 52%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  div{
    display:flex;
    flex-direction: column;
    flex: 1;
    width: 90%;
    height: 70%;
    margin: auto;
    background-color: rgba(black, 0.6);
    color: white;
    padding: 20px;
    overflow: auto;
    border: double 1vh white;
    p{
      flex:1;
    }
    blockquote{
      flex:2;
    }
  }
}

.isTouch {
  background-attachment: initial;
}


.mainAutor{
  font-size: 2vh;
}

.mainInfo{
  align-items: center;
  padding: 20px;
}
.mainTitle{
  display:flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 20px;
  color: $selectedTheme;
  margin-top: 2vh;
  padding-top: 1vh;
  min-width: 80vw;
  min-height: 12vh;
  max-height: 12vh;
  margin-bottom: 2vh;

  h1{
    font-size: 5.5vh;
  }
}

.HomeButtons{
  display: flex;
  flex-direction: column;
  width: 100%;
  li{
    list-style: none;
    margin-bottom: 10px;
    vertical-align: -webkit-baseline-middle;
    width: 100%;
    button{
      flex: 1 1;
      padding: 0;
      align-items: center;
      min-width: 100%;
      max-width: 100%;
      max-height: 60px;
      min-height: 60px;
      margin: auto;
    }
  }
}

.itunesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div{
    align-self: stretch;
  }
}

@media screen and (orientation:landscape) {
  header, .mainQuote{
    height: 100%;
    background-size: cover;
  }

  .mainActionButton{
    width: 60%;
    margin: 20px auto;
    font-size: 1.5em;
    border-radius: 15px;
    mat-icon{
      display: inline-flex;
    }
  }

  header{
    background-image: url('../../../assets/images/imagenPrincipal-medium.jpg');
  }

  .mainQuote{
    background-image: url('../../../assets/images/miguel-angel-capilla-sixtina-medium.jpg');
  }

  .mainImage{
    background-image: url('../../../assets/images/imagenPrincipal2-medium.jpg');
    width: 20vw;
    height: 20vw;
  }

  .mainTitle{
    max-height: 12vw;
    min-height: 12vw;
    h1{
      font-size: 6vw;
    }
  }

  .mainAutor{
    font-size: 2vw;
  }

  section{
    height: 100%;
    font-size: 2.8vw;
  }

  section:nth-child(2){
    padding: 60px 30px;
    height: 100% !important;
  }

  .HomeButtons{
    flex-direction: row;
    li{
      display:flex;
      flex-direction: column;
      margin-bottom: 0;
      margin-right: 10px;
      margin-left: 10px;
      p{
        min-height: 80%;
        max-height: 80%;
        overflow: auto;
      }
    }
  }

  .itunesContainer{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div{
      align-self: center;
    }
  }
}

@media only screen  and (min-width : 1224px) {

  .mainActionButton{
    width: 50%;
    margin: 30px auto;
    font-size: 1.5em;
    border-radius: 15px;
    mat-icon{
      display: inline-flex;
    }
  }

  header{
    background-image: url('../../../assets/images/imagenPrincipal-large.jpg');
  }

  .mainQuote{
    background-image: url('../../../assets/images/miguel-angel-capilla-sixtina-large.jpg');
  }

  .mainImage{
    background-image: url('../../../assets/images/imagenPrincipal2-large.jpg');
    width: 20vw;
    height: 20vw;
  }
}
