<header>
  <h1>Salmos</h1>
</header>
<section class="contenido">
  <p>
    Antes de Cristo, el Padre Celestial habló a su pueblo por medio de los salmos escritos por profetas, sabios
    y
    poetas,
    por ello debe ser cantado.
    Cada Salmo tiene mensajes que el Ministerio de la Música debe distinguir, interpretar y proyectar a la
    feligresía.
  </p>
  <!-- <section> -->
  <div class="itunesContainer">
    <h3>Te recomendamos escuchar:</h3>
    <p>Una compilación de arias sacras interpretadas por el gran Andrea Bocelli</p>
    <div>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450"
        style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/mx/album/sacred-arias/1440726522?app=music&at=1000l34fT">
      </iframe>
    </div>
  </div>
  <!-- </section> -->
  <ul>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/salmos/ciclo-a" matTooltip="Ir a Salmos del ciclo A"
        aria-label="Boton para navegar a Cantos Religiosos">
        CICLO A
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/salmos/ciclo-b" matTooltip="Ir a Salmos del ciclo B"
        aria-label="Boton para navegar a Cantos Religiosos">
        CICLO B
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/salmos/ciclo-c" matTooltip="Ir a Salmos del ciclo C"
        aria-label="Boton para navegar a Cantos Religiosos">
        CICLO C
      </button>
    </li>
  </ul>
</section>