<header>
  <h1>Navidad</h1>
</header>
<section>
  <div class="itunesContainer">
    <h3>Te recomendamos escuchar:</h3>
    <div>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450"
        style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/mx/album/the-three-tenors-christmas/300017748?app=music&at=1000l34fT"></iframe>
    </div>
  </div>
</section>
<section class="contenido">
  <h3>Partituras disponibles:</h3>
  <br>
  <ul>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/navidad/villancicos" matTooltip="Ir a Cantos de Misa"
        aria-label="Boton para navegar a Cantos Religiosos">
        Villancicos
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent"
        routerLink="/canto-liturgico-y-religioso/navidad/canciones" matTooltip="Ir a Cantos de Salmos"
        aria-label="Boton para navegar a Cantos Religiosos">
        Canciones
      </button>
    </li>
  </ul>
</section>