<video autoplay webkit-playsinline="true" playsinline="true">
  <source src="assets/videos/construction.mp4" type="video/mp4">
</video>


<div class="pseudoHIdden blackScreen">
  <h2>¡Sitio en construcción!...<br><br>Como puede observar,<br>seguimos trabajando</h2>

  <div class="afterVideo">
    <a class="donacion" *ngIf="videoHasEnded" target="new" href="https://paypal.me/arssacre?locale.x=es_XC"
      mat-raised-button>Hacer una Donación (PayPal)</a>
    <div class="insidePublicidad">
      <button *ngIf="videoHasEnded" mat-raised-button color="accent">
        <h5>
          ¡prueba Audible Gratis!
        </h5>
        <a target="_blank"
          href="https://amzn.to/39Lv93f"><img
            border="0"
            src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00NB86OYE&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=arssacrejdleo-20"></a><img
          src="//ir-na.amazon-adsystem.com/e/ir?t=arssacrejdleo-20&l=am2&o=1&a=B00NB86OYE" width="1" height="1"
          border="0" alt="" style="border:none !important; margin:0px !important;" />
      </button>
      <button *ngIf="videoHasEnded" mat-raised-button color="accent">
        <h5>
          ¡Aprender algo nuevo!
        </h5>
        <a target='new'
          href="https://click.linksynergy.com/fs-bin/click?id=xrRIpacr6PE&offerid=507388.1637&subid=0&type=4"><IMG
            border="0" alt="Generic Category (Spanish)125x125"
            src="https://ad.linksynergy.com/fs-bin/show?id=xrRIpacr6PE&bids=507388.1637&subid=0&type=4&gridnum=4"></a>
      </button>
    </div>

  </div>

</div>