@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);
$selectedDarker: rgb(38, 26, 70);

video{
  background-color: $selectedColor;
  width: 100%;
  height: 100%;
}

div.blackScreen{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $accent;
  background-color: rgba(black, .6);
  height: 100%;
  text-align: center;
  align-items: center;
  top: 0 !important;

  h2,h3,h4{
    display: block;
    padding: 1em 40px;
    background-color: rgba(grey, 1);    border-radius: 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    flex:1;
    font-size: 5vw;
    background-color: silver;
    background-image: linear-gradient(335deg, $selectedDarker 23px, transparent 23px),
    linear-gradient(155deg, $selectedColor 23px, transparent 23px),
    linear-gradient(335deg, $selectedDarker 23px, transparent 23px),
    linear-gradient(155deg, $selectedColor 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    text-shadow: 4px 0 0 $selectedDarker, -4px 0 0 $selectedDarker, 0 4px 0 $selectedDarker, 0 -4px 0 $selectedDarker, 1px 1px $selectedDarker, -1px -1px 0 $selectedDarker, 1px -1px 0 $selectedDarker, -1px 1px 0 $selectedDarker;
  }
  div.afterVideo{
    margin-top: 1vh;
    flex:8;
    display: flex;
    flex-direction: column;
    a{
      margin-bottom: 20px;
      flex: 0;
    }
    div.insidePublicidad{
      display: flex;
      flex-direction: row;
      button{
        display: flex;
        flex-direction: column;
        margin: 5px;
      }
    }
  }
}

@media only screen  and (min-width : 351px) {
  div.blackScreen{
    h2,h3,h4{
      font-size: 4vh;
    }
  }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  div.blackScreen{
    h2,h3,h4{
      font-size: 4vh;
    }
  }
}



.errorContainer{
  padding: 10px;
  margin: auto;
  width: 90%;
  background-color: rgba(black, .8);
  display: flex;
  *{
    flex:1;
  }
}

a.donacion{
  border: solid 4px $accent;
}
