<header>
  <h1>Rosario</h1>
</header>
<section class="contenido ">
  <h3>
    Cantos para Rosario
  </h3>
  <br>
  <p>
    
  </p>
  <ul>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/rosario/gloria" matTooltip="Ir a Cantos de Misa" aria-label="Boton para navegar a Cantos Religiosos">
        Cantos y Motetes<br>
        de gloria
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/rosario/pesame" matTooltip="Ir a Cantos de Salmos" aria-label="Boton para navegar a Cantos Religiosos">
        Cantos y Motetes<br>
        de Pésame
      </button>
    </li>
    <li>
      <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/rosario/jesucristo" matTooltip="Ir a Cantos del Santo Rosario" aria-label="Boton para navegar a Cantos Religiosos">
        Cantos y Motetes a<br>
        nuestro Señor<br>
        Jesucristo
      </button>
    </li>
  </ul>
</section>