$AppFont: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

* {
	font-family: $AppFont;
	box-sizing: border-box;
}

* > nav{
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}

mat-sidenav-container{
	height: calc(100% - 104px);
}

footer{
	box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12);
}

section.contenido{
  width: 90%;
  margin: auto;
  padding: 3% 5%;
  margin-bottom: 10%;
}