<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="appContainer" #appContainer> -->
  <nav class="mat-elevation-z6" #navigationBar>
    <app-nav-bar></app-nav-bar>
  </nav>
  <main>
    <app-main-container></app-main-container>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
<!-- </div> -->