<!-- <header>
  <h1>Padre Nuestro</h1>
</header>
<section class="contenido">
  <p>
    Es la oración toral del Cristianismo. Cuando se entone unámonos en espíritu a la voz de Jesús y convoquemos a la feligresía a orar dos veces (San Agustín).
  </p>
</section> -->

<app-construccion></app-construccion>