<!-- <header>
  <h1>Comunión</h1>
</header>
<section class="contenido">
  <p>
    El Papa Francisco dice: “La Eucaristía actualiza y hace presente el evento de la muerte y resurrección de
    Jesús”, por ello los cantos deben ser una oración con texto y melodía que conmuevan espiritualmente al comulgante que
    participa en un banquete, que los ángeles no logran recibir.
    Los contextos pueden ser variados, pero no deben apartarse del reconocimiento a Jesús Cristo por su
    sacrificio, y por los dones que recibió del Padre Celestial. Rechacemos cantos armados con oraciones piadosas envueltas en
    melodías de canciones populares.
  </p>
</section> -->

<app-construccion></app-construccion>