<!-- <header>
  <h1>Cantos de salida</h1>
</header>
<section class="contenido">
  <p>
    Los temas pueden ser de gloria a Dios, a María Santísima, al Santo Patrono (a), o alusivo a las lecturas.
    Se advierte al Cantor de Dios que conserve su interpretación al margen de los ruidos y charlas dentro del recinto sagrado
    y que ocurren al concluir la Santa Misa.
  </p>
</section> -->

<app-construccion></app-construccion>