@import "~@angular/material/theming";
@import '../../../../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);

h1,h2,h3,h4{
  padding:0;
  margin:0;
}
li{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  button{
    color: $selectedColor;
    display: block;
    width: 80%;
    margin: auto;
  }
}

header{
  display:block;
  text-align: center;
  margin-bottom: 50px;
  background-color: $selectedColor;
  position: relative;
  color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

section.contenido{
  width: 90%;
  margin: auto;
  padding: 3% 5%;
  margin-bottom: 10%;
  position: relative;
  text-align: justify;
  h3, h4{
    color: $selectedColor;
  }
}

.footer{
  color: $selectedColor;
  font-size: 1.2em;
  text-align: center;
} 

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  section.contenido{
    width: 25cm;
    margin: auto;
    padding: 2cm 2.5cm;
    margin-bottom: 3cm;
  }
}
