<!-- <header>
  <h1>Aleluya</h1>
</header>
<section class="contenido">
  <p>
    Como preámbulo al Evangelio manifestamos alegría esperando las palabras del Divino Maestro en la voz del
    celebrante.
  </p>
</section> -->
<app-construccion></app-construccion>