<header>
  <h1>El Canto Litúrgico y Religioso</h1>

</header>
<div id="amazonAd" #amazonAd>
    <div id="amzn-assoc-ad-af1e999f-71d7-4f25-be0e-a6d41b479545"></div>
</div>
<section class='contenido'>
  <article>
    <h3>
      Fundamentos
    </h3>
    
    <p>
      El Señor Dios nos llama a su servicio concediéndonos el privilegio de participar en las celebraciones de nuestra
      Iglesia, y quienes aceptamos esa responsabilidad, debemos preparar nuestra mente y espíritu para ofrecer a Dios
      nuestro canto como oración, en una devota interpretación musical; no podemos despertar la piedad del feligrés si
      nuestro espíritu está indiferente o quizás frío. Necesitamos imprimir en cada canto la intensidad de nuestra
      devoción
      y la profundidad de nuestra fe, para estar acordes con nuestro lema: “A Dios orando y con el feligrés cantando,
      hablando con Dios y hablando de Dios”. Cuidado, hay quien no reconoce al canto piadoso y dice que es un canto
      triste
      y que un canto triste es un triste canto… Ignoran que el fervor es la antítesis de la tristeza.
    </p>

    <app-music-notes></app-music-notes>

    <p>
      La música es un arte y el arte es belleza, y la belleza de nuestro canto se encuentra en la correcta afinación,
      adecuada entonación y expresiva modulación de cada sonido, esto se logra con el estudio adecuado de cada obra. La
      belleza del sonido se complementa con una piadosa expresión que refleje nuestra adoración y conduzca la ofrenda
      de
      nuestro amor a quien le debemos nuestra existencia.
    </p>
  </article>

  <article class="canto">
    <h4>
      El Canto Litúrgico y Religioso presenta:
    </h4>
    <br><br>
    <ul>
      <li>
        <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/misa" matTooltip="Ir a Cantos de Misa" aria-label="Boton para navegar a Cantos Religiosos">
          LA SANTA MISA
        </button>
      </li>
      <li>
        <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/salmos" matTooltip="Ir a Cantos de Salmos" aria-label="Boton para navegar a Cantos Religiosos">
          SALMOS CICLO A, B, C.
        </button>
      </li>
      <li>
        <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/rosario" matTooltip="Ir a Cantos del Santo Rosario" aria-label="Boton para navegar a Cantos Religiosos">
          EL SANTO ROSARIO
        </button>
      </li>
      <li>
        <button mat-raised-button class="mat-elevation-z6" color="accent" routerLink="/canto-liturgico-y-religioso/navidad" matTooltip="Ir a Villancicos" aria-label="Boton para navegar a Cantos Religiosos">
          VILLANCICOS
        </button>
      </li>
    </ul>
    <br><br>
    <p class="footer">
        Ensenada Baja California, México, 2019
    </p>
  </article>
</section>