@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

video{
  background-color: $selectedColor;
  width: 100%;
  height: 100%;
}

div.blackScreen{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(red, .7);
  height: 100%;
  text-align: center;
  align-items: center;
  top: 0 !important;

  h2,h3,h4{
    margin-top: 3vh;
    flex:1;
    font-size: 1.7em;
  }
  div.afterVideo{
    margin-top: 1vh;
    flex:8;
    display: flex;
    flex-direction: column;
    a{
      margin-bottom: 20px;
      flex: 0;
    }
    div.insidePublicidad{
      display: flex;
      flex-direction: row;
      button{
        display: flex;
        flex-direction: column;
        margin: 5px;
      }
    }
  }
}


.errorContainer{
  padding: 10px;
  margin: auto;
  width: 90%;
  background-color: rgba(red, .3);
  display: flex;
  *{
    flex:1;
  }
}

a.donacion{
  border: solid 4px $accent;
}
