@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);
$accent: mat-color($accent2Palette);

p{
  line-height: 2em;
}

.bioContainer{
  width: 100%;
  margin: 50px auto;
  // border: solid 2px $selectedColor;
  background: white;
  background: -moz-linear-gradient(135deg, rgba(white,1) 0%, rgba($accent, 0.08) 100%);
  background: -webkit-linear-gradient(135deg, rgba(white,1) 0%,rgba($accent, 0.08) 100%);
  background: linear-gradient(135deg, rgba(white,1) 0%,rgba($accent, 0.08) 100%);
  padding: 20px 0 20px 0;
}

mat-card-header{
  background-color: $accent;
  color: $selectedColor;
  padding: 10px;
  mat-card-subtitle{
    color: $selectedColor;
  }
}

mat-card-content.bio-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  font-size: 2.2vh;
  img {
    flex: 1;
    width: 200px !important;
    min-height: 200px;
    max-height: 200px;
    margin: 0 16px 0 16px;
    border-radius: 50%;
    text-align: center;
  }
}

.mat-card-image {
  background-size: contain !important;
  flex: 1 !important;
  border: solid $accent 5px;
}

mat-card-actions{
  text-align: center;
  margin-bottom: 20px !important;
  a{
    border: solid 4px $accent;
    // width: 80%;
    // height: 42px;
  }
}

@media only screen and (min-width : 720px) {
  mat-card-content.bio-card {
    flex-direction: row;
    align-items: flex-start;
  }
}