<div #imageContainer>
  <mat-card class="bioContainer mat-elevation-z10">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>David D' León</mat-card-title>
      <mat-card-subtitle>¿Quién es?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bio-card">
      <img #imageReference mat-card-image src='' class="mat-elevation-z4"  alt="David D Leon">
      <div>
        <p>
          Fué organista en el Seminario Conciliar de México, y egresó del Conservatorio Nacional de Música y de la
          Escuela
          Pastoral Social del Arzobispado de México.
        </p>
        <p>
          Inició su vida docente como profesor de Estética en la Preparatoria del Colegio Columbia, y dependiendo del
          Inistuto Nacional de Bellas Artes, como profesor de Educación Musical en preescolar, primaria, secundaria y
          normal
          de educadoras. Fué catedrático de Arte Religioso en el colegio de Filosofía y Teología del Seminario Conciliar
          de
          la Diócesis de Texcoco, y catedrático de Pedagogía en el conservatorio de las Rosas (Morelia, México).
        </p>
        <p>
          Fué nombrado Jefe de Enseñanza de las Escuelas Secundarias Foráneas, y representó al sistema de Educación
          Musical
          en congresos nacionales y el Congreso Internacional de Música celebrado en el Hotel Continental de la ciudad
          de
          México.
        </p>
        <p>
          En cada uno de los estados del país ofreciò cursos de educación artística para profesores de la especialidad,
          lo
          que le obligó a diseñar un sistema de educación integral de música para segunda enseñanza (lectografía –
          afinación
          – entonación y ejecución de la flauta dulce y teclados). Así mismo, creó una modalidad de aprendizaje
          artístico
          para la educación básica: canto con expresión corporal (hacia la coreografía) y expresión plástica, propuesto
          en
          un libro de preescolar y en seis libros bilingües de primaria.
        </p>
        <p>
          Ha escrito 36 libros (música, artes plásticas, teatro y pedagogía de la educación artística); ha compuesto
          música
          para los salmos dominicales de los ciclos A, B, y C., y cantos religiosos; es autor de libretos de teatro
          religioso: El triunfo del amor (pastorela .50 min) Marcelino, Pan y Vino (comedia musical 1.15 min), Vida,
          Pasión
          y Muerte de N.S. Jesucristo (drama 1.25 min), y El regalo de la vida (sociodrama en contra del aborto, 20
          min).
        </p>
        <p>
          Actualmente dirige la Escuela de Canto y Teatro Religioso, S. P., y la Coral San Judas Tadeo.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a target="new" href="https://paypal.me/arssacre?locale.x=es_XC" mat-raised-button>Hacer una Donación (PayPal)</a>
    </mat-card-actions>
  </mat-card>
</div>