/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	position: fixed;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav{
	width:100%;
	position:fixed;
	z-index:1;
}

main{
	display:block;
	position: absolute;
	width: 100%;
	height: calc(100% - 52px);
	top: 52px;
	z-index: 0;
	overflow: auto;
}

footer{
	display: none
}

article{
  margin-top:20px;
  margin-bottom: 20px;
}

h4{
  margin: 10px;
}

p{
  padding: 10px 0;
}

@media screen and (orientation:landscape) {
  footer{
		display: none;
	}

	main{
		height: calc(100% - 52px);
	}
}