@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-indigo);
$accentPalette: mat-palette($mat-pink, A200, A100, A400);
$warnPalette: mat-palette($mat-red);

$primary2Palette: mat-palette($mat-deep-purple);
$accent2Palette: mat-palette($mat-amber, A200, A100, A400);
// $primary2Palette: mat-palette($mat-blue-gray);