<!-- <header>
  <h1>Canto (no canción) de entrada</h1>
</header>
<section class="contenido">
  <p>
    Se inspira en el significado de las lecturas del día, sin olvidar que cuando el celebrante avanza hacia el
    altar,
    subsiste la esencia de la antigua plegaria “Introibo ad Altare Dei” (me acercaré al Altar de Dios)…, por
    ello
    el canto
    debe mostrar profunda religiosidad.
  </p>
</section> -->

<app-construccion></app-construccion>