<mat-sidenav-container (backdropClick)="backdropClicked()">
  <mat-sidenav class="innerSideNav mat-elevation-z2" mode="over" [opened]="sideNavStatus">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet #routerOutlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
