@import "~@angular/material/theming";
@import '../../../../styleVariables.scss';
$selectedColor: mat-color($primary2Palette);

:host{
    display:block;
    background-color: $selectedColor;
    width:100%;
    height:100%;
    text-align: center;
    color: white;
    padding-top: 10px;
}

h2{
    font-size: 1em;
}

p{
    padding:0;
    font-size: 0.7em;
}